*{
  background-color: lightgray;
}
.red{
  color: red;
}
.carousel_container{
  height: 500px;
  width: 600px;
  background-color: black;
  margin: auto;
  margin-top: 100px;
  align-items: center;
  display: flex;
  position: relative;
}
.carousel{
  height: 400px;
  width: 500px;
  margin: auto;
  background-color: red;
  display: flex;
  align-items: center;

}
i.arrow{
  font-size: 50px;
  display: inline-block;
  display: flex;
  align-items: center;
  color: violet;
}
i.bullet{
  position: absolute;
  bottom: 15px;
  right: 50%;
}
i.bullet{
  color: red;
}
img{
  width: 100%;
}
