*{
  background-color: lightgreen;
}
.red{
  color: red;
}
.carousel_container{
  height: 500px;
  width: 600px;
  background-color: black;
  margin: auto;
  margin-top: 100px;

}
.carousel{
  height: 400px;
  width: 500px;
  margin: auto;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: red

}
i.arrow{
  font-size: 50px;
  display: inline-block;
  display: flex;
  justify-content: center;
  color: red;

}
.container_bullet{
background-color: pink;
position: relative;
display: flex;
align-self:flex-end;
justify-content: center;
align-content: center;
}
i.bullet{
  position: absolute;
  color: blue;
}
img{
  width: 100%;
  object-fit: contain;
  margin: 0 10px;
}
.active{
  color: red;
}
